html,
body {
  padding: 0;
  margin: 0;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: green;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  animation-duration: 100ms;
}
