<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Data Visualization of Gun Violence</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/D3Style.css">

  <link rel="icon" href="data:,">

</head>

<body>

  <div class="container-fluid">
    <div class='row'>
      <div class='col-md-9'>
        <div id='map-svg'>
          Map Goes Here!
        </div>
      </div>
      <div class='col-md-3'>
        <div class='container-fluid'>
          <div class='container-fluid'>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-outline-primary active">
                <input type="radio" name="options" value='2013' checked> 2013
              </label>
              <label class="btn btn-outline-primary">
                <input type="radio" name="options" value='2014'> 2014
              </label>
              <label class="btn btn-outline-primary">
                <input type="radio" name="options" value='2015'> 2015
              </label>
              <label class="btn btn-outline-primary">
                <input type="radio" name="options" value='2016'> 2016
              </label>
              <label class="btn btn-outline-primary">
                <input type="radio" name="options" value= '2017'> 2017
              </label>
              <label class="btn btn-outline-primary">
                <input type="radio" name="options" value= '2018'> 2018
              </label>
            </div>
          </div>
          <div class='container-fluid'>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Example select</label>
              <select class="form-control" id="statesList"></select>
            </div>
          </div>
          <div class='container-fluid'>
            <button type="button" id='selectionBtn' class="btn btn-primary btn-lg">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
  
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://unpkg.com/topojson@3"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/d3.v5.js"></script>
<script type="module" src="../static/js/mapApi.js"></script>
<script type="module" src="../static/js/statesMap.js"></script>

</body>

</html>